PORT=3000
API_URL=http://localhost:7070

# Домен для коротких ссылок (если не задан, используется window.location.origin)
# VITE_SHARE_LINK_BASE="https://example.com" # Ссылки будут иметь вид https://example.com/<id>
VITE_SHARE_LINK_BASE=
