#register-form-container {
  display: none;
}
.register-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}
.register-form__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-gray-600);
  text-wrap: balance;
  text-align: center;
}
.register-form__input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.register-form__input label {
  color: var(--color-gray-500);
}
