.file-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.file-information__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-gray-600);
}
.file-information__info {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 8px;
  padding: 0 32px;
}
@media (min-width: 768px) {
  .file-information__info {
    flex-direction: row;
  }
}
.file-information__file-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  word-break: break-all;
  gap: 8px;
}
.file-information__file-info-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  min-height: 26px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-gray-600);
}
.file-information__actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
@media (min-width: 768px) {
  .file-information__actions {
    flex-direction: column;
  }
}
.file-information__loader {
  width: 96px;
  height: 96px;
  color: var(--color-gray-500);
  pointer-events: none;
}
.file-information__empty {
  display: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-gray-600);
}
.file-information__chart-title {
  display: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-gray-600);
}
.file-information__chart {
  display: none;
}
