.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.progress-bar {
  display: flex;
  justify-items: start;
  width: 100%;
  height: 8px;
  background-color: var(--color-gray-300);
  border-radius: 6px;
  overflow: hidden;
}
.progress-bar__line {
  width: 0%;
  height: 100%;
  background-color: var(--color-primary-300);
  border-radius: 6px;
  transition: width 0.2s;
}
.progress-status {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-gray-600);
}
