.app-input {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid var(--color-gray-300);
  color: var(--color-gray-700);
  transition: border-color 0.2s;
}
.app-input:disabled {
  opacity: 0.75;
}
.app-input:focus {
  border-color: var(--color-gray-500);
}
